@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .no-number-spinner {
    -moz-appearance: textfield;
  }

  .no-number-spinner::-webkit-outer-spin-button,
  .no-number-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

